body {
    background-color: #6cd733;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}

.conejo {
    font-size: 50px;
    line-height: 1.2;
    animation: saltar 1s infinite alternate;
}

@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-60px);
    }
}