body {
    color: white;
    margin: 0;
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-image: url(../img/espacio.jfif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.text {
    margin-top: 100px;
    font-family: cursive;
    font-size: 30px;
}

.formulario {
    margin: 30px;
    font-size: 20px;
}

.formulario input[type="text"] {
    padding: 15px;
    margin: 10px 0; 
    border-radius: 10px; 
    border: 1px solid #ccc;
    width: 50%;  
    box-sizing: border-box; 
}

.button_buscar {
    padding: 15px 30px;  
    display: inline-block;
    margin-top: 20px;
    font-size: 18px; 
    background-color: #ccc; 
    color: black;  
    border-radius: 10px; 
    border: none; 
}

.button_buscar:hover {
    background-color: #999;
}

.menu {
    color: black;
    background-color: #13ffebad;
    padding: 20px;
    display: flex; 
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
    border-radius:10px;
}

.menu a{
    margin: 0 20px; 
    color: black; 
    text-decoration: none; 
    font-size: 18px;
    padding: 10px 20px; 
}

.menu a:hover {
    background-color:rgba(255, 255, 255, 0.562); 
    border-radius: 5px; 
}